@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: 'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    sans-serif, system-ui;
  --font-serif: 'Charis-Web', 'Times New Roman', 'Noto Serif JP', serif,
    system-ui;
  --font-ipa: 'Charis-Web', serif, system-ui;
}

@layer base {
  html {
    -webkit-tap-highlight-color: revert;
  }

  body {
    @apply bg-slate-50 dark:bg-slate-950;
  }

  #md-root {
    @apply flow-root
    prose prose-slate dark:prose-invert
    w-full max-w-7xl mx-auto px-4
    prose-a:hover:opacity-60 prose-a:transition-opacity;

    h1:where(#title) {
      @apply font-extralight text-center my-12;
    }

    :is(h2, h3, h4) {
      @apply font-normal;
    }

    :is(h5, h6) {
      @apply font-semibold;
    }

    img {
      @apply mx-auto;
    }

    table {
      @apply lg:max-w-max lg:me-auto;

      :where(:is(thead, tbody tr)) {
        @apply border-b-0;
      }

      :where(tr :is(td, th):not(:last-child)) {
        @apply border-e border-slate-300;
      }
    }

    li > :where(p) {
      @apply my-3;
    }

    /* toc */
    :where(h2#table-of-contents) + ul {
      @apply bg-violet-50 dark:bg-violet-950 border border-slate-300 dark:border-slate-600 rounded pe-3;
    }

    tr:where(
        h5[id*='example']
          + :is(table, div.table-scrollable)
          tbody
          > tr:first-child
      ),
    li:where(h5[id*='example'] + ul > li) {
      @apply italic;
    }

    hr {
      @apply my-6;
    }

    :where(blockquote p:first-of-type):before {
      content: '';
    }
  }
}

@utility table-scrollable {
  @apply overflow-auto max-w-full text-nowrap;
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'text', 'all', 'inherit', 'initial');
}
