@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP', 'Noto Sans SC',
    'Segoe UI', sans-serif, system-ui;
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto Serif JP', 'Noto Serif SC',
    'Segoe UI', serif, system-ui;
  --font-ipa: 'Charis-Web', serif, system-ui;
}

@layer base {
  html {
    -webkit-tap-highlight-color: revert;
  }

  body {
    @apply bg-slate-50 dark:bg-slate-950;
  }

  #md-root {
    @apply flow-root
    prose prose-slate dark:prose-invert
    w-full max-w-7xl mx-auto px-4
    prose-a:hover:opacity-60 prose-a:transition-opacity;

    h1:where(#title) {
      @apply font-extralight text-center my-12;
    }

    :is(h2, h3, h4) {
      @apply font-normal;
    }

    :is(h5, h6) {
      @apply font-semibold;
    }

    img {
      @apply mx-auto;
    }

    table {
      @apply lg:max-w-max lg:me-auto;

      :where(thead, tbody tr) {
        @apply border-b-0;
      }

      :where(tr :is(td, th):not(:last-child)) {
        @apply border-e border-slate-300;
      }

      :where(td, th) {
        @apply text-base py-1.25;
      }
    }

    li > :where(p) {
      @apply my-3;
    }

    tr:where(
      h5[id*='example']
        + :is(table, div.table-scrollable, div.table-auto-wrap)
        tbody
        > tr:first-child
    ) {
      @apply italic;
    }

    hr {
      @apply my-6;
    }

    :where(blockquote p:first-of-type) {
      &::before,
      &::after {
        content: none;
      }
    }

    .jbomupli {
      @apply grid grid-cols-auto-fill-120 gap-x-2 gap-y-8 my-8 px-2 py-1 bg-violet-50
      border border-slate-300 rounded;

      > div {
        @apply min-w-0 flex flex-col gap-0.75 border-e border-slate-300;
        
        > p {
          @apply min-w-0 m-0;
        }

        > p:first-child {
          @apply italic;
        }
      }
    }
  }
}

@utility table-scrollable {
  @apply overflow-x-auto max-w-full;

  :where(td, th) {
    @apply text-nowrap;
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'text', 'all', 'inherit', 'initial');
}

@utility grid-cols-auto-fill-* {
  grid-template-columns: repeat(auto-fill, minmax(--value(integer)px, 1fr));
}
