@import 'tailwindcss';

@theme {
  --color-lila-5: oklch(5% 0.0272 296);
  --color-lila-10: oklch(10% 0.0542 296);
  --color-lila-15: oklch(15% 0.0809 296);
  --color-lila-20: oklch(20% 0.1072 296);
  --color-lila-25: oklch(25% 0.1324 296);
  --color-lila-30: oklch(30% 0.1563 296);
  --color-lila-35: oklch(35% 0.178 296);
  --color-lila-40: oklch(40% 0.1964 296);
  --color-lila-45: oklch(45% 0.2104 296);
  --color-lila-50: oklch(50% 0.2182 296);
  --color-lila-55: oklch(55% 0.2188 296);
  --color-lila-60: oklch(60% 0.2116 296);
  --color-lila-65: oklch(65% 0.1971 296);
  --color-lila-70: oklch(70% 0.1765 296);
  --color-lila-75: oklch(75% 0.1517 296);
  --color-lila-80: oklch(80% 0.1238 296);
  --color-lila-85: oklch(85% 0.094 296);
  --color-lila-90: oklch(90% 0.0631 296);
  --color-lila-95: oklch(95% 0.0317 296);
  --color-lila-vivid: oklch(52.85% 0.2195 296);
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP', 'Noto Sans SC',
    'Segoe UI', sans-serif, system-ui;
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto Serif JP', 'Noto Serif SC',
    'Segoe UI', serif, system-ui;
  --font-ipa: var(--font-serif);
  --default-transition-duration: 110ms;
  --color-bg: #fff;
  --color-d-bg: var(--color-lila-10);
  --color-side: var(--color-lila-95);
  --color-d-side: var(--color-lila-15);
  --color-accent: var(--color-lila-95);
  --color-d-accent: var(--color-lila-25);
  --color-border: var(--color-slate-300);
  --color-d-border: var(--color-slate-500);
  --color-border2: var(--color-slate-500);
  --color-d-border2: var(--color-slate-300);
  --color-text: #000;
  --color-d-text: #fff;
  --color-heading: var(--color-lila-25);
  --color-d-heading: var(--color-lila-95);
  --color-sidemenu-bg: oklch(from var(--color-lila-25) l calc(c - 0.03) h);
  --color-d-sidemenu-bg: var(--color-lila-70);
  --color-sidemenu-text: #fff;
  --color-d-sidemenu-text: #000;
  --grad-accent: linear-gradient(
    to bottom in oklch,
    var(--color-lila-95),
    var(--color-lila-90)
  );
  --grad-d-accent: linear-gradient(
    to bottom in oklch,
    var(--color-lila-40),
    var(--color-lila-30)
  );
  --grad-accent-2: linear-gradient(
    to bottom in oklch,
    var(--color-lila-95),
    var(--color-lila-90)
  );
  --grad-d-accent-2: linear-gradient(
    to bottom in oklch,
    var(--color-lila-20),
    var(--color-lila-15)
  );
  --s-paragraph: 1.25rem;
  --s-header: 3rem;
  --s-figure: 2rem;
  --columns-1: minmax(min(18rem, 50%), 1fr) minmax(0, 80rem)
    minmax(min(18rem, 50%), 1fr);
}

@utility cbg-* {
  background-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    background-color: --value(--color-d- *);
  }
}

@utility gbg-* {
  background-image: --value(--grad-*);
  @media (prefers-color-scheme: dark) {
    background-image: --value(--grad-d- *);
  }
}

@utility ctext-* {
  color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    color: --value(--color-d- *);
  }
}

@utility cborder-* {
  border-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    border-color: --value(--color-d- *);
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: revert;
    @apply max-sm:text-sm;
  }

  body {
    @apply cbg-side flow-root ctext-text;
  }

  a {
    @apply underline hover:opacity-60 transition-opacity;
  }

  footer {
    @apply flex justify-center my-2;
  }

  button {
    @apply cursor-pointer;
  }

  h1:where(#title) {
    @apply font-extralight text-4xl px-4 my-10 text-balance;
  }

  :is(h2, h3, h4) {
    @apply font-normal text-2xl;
  }

  :is(h5, h6) {
    @apply font-semibold text-base;
  }

  :is(h2, h3, h4, h5, h6, p, ul, ol) {
    @apply mt-(--s-paragraph);
  }

  :is(h2, h3) {
    @apply scroll-mt-[calc(var(--s-header)+.5rem)];
  }

  img {
    @apply mx-auto w-full max-w-max my-(--s-figure);
  }

  :is(b, strong) {
    @apply font-semibold;
  }

  table {
    @apply lg:max-w-max lg:me-auto;

    :where(thead > tr:last-child) {
      @apply border-b cborder-border2;
    }

    :where(tr:not(:last-child)) {
      @apply border-b cborder-border;
    }

    :where(td, th) {
      @apply text-base py-1.25 px-2.25;
    }

    :where(th) {
      @apply font-semibold;
    }
  }

  .table-container:where(:has(> table)) {
    @apply max-w-full overflow-x-auto my-(--s-figure);
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  :is(ul, ol) {
    @apply ps-5;
  }

  li > :where(p) {
    @apply mt-1;
  }

  li > :where(ul, ol) {
    @apply mt-2;
  }

  hr {
    @apply my-4 cborder-border mx-auto w-full max-w-240;
  }

  :where(blockquote p:first-of-type) {
    &::before,
    &::after {
      content: none;
    }
  }

  .jbomupli {
    @apply flex flex-wrap my-8 gap-y-8 px-0.5 py-1.5 
      gbg-accent-2 border cborder-border rounded;

    > div {
      @apply flex flex-col gap-1 min-w-0 border-e cborder-border flex-[0_1_max-content];

      > p {
        @apply min-w-0 min-h-7 m-0 px-3;
      }

      > :lang(jbo) {
        @apply italic;
      }
    }
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'text', 'all', 'inherit', 'initial');
}

@utility grid-cols-auto-fill-* {
  grid-template-columns: repeat(auto-fill, --value([*]));
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility grid-cols-max-* {
  grid-template-columns: repeat(--value(integer), max-content);
}
