@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    sans-serif, system-ui;
  --font-serif: 'Charis-Web', 'Times New Roman', 'Noto Serif JP', serif,
    system-ui;
}

@layer base {
  #md-root {
    @apply prose prose-slate dark:prose-invert w-full max-w-7xl mx-auto px-4
    prose-headings:font-normal prose-a:hover:opacity-60;
    
    img {
      @apply mx-auto;
    }
  }
}
