@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: 'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    sans-serif, system-ui;
  --font-serif: 'Charis-Web', 'Times New Roman', 'Noto Serif JP', serif,
    system-ui;
  --font-ipa: 'Charis-Web', serif, system-ui;
}

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-950;
  }

  #md-root {
    @apply flow-root prose prose-slate dark:prose-invert w-full max-w-7xl mx-auto px-4
    prose-a:hover:opacity-60 wrap-anywhere;

    :where(h2, h3, h4) {
      @apply font-normal;
    }

    :where(h5, h6) {
      @apply font-semibold;
    }

    :where(img) {
      @apply mx-auto;
    }

    :where(table) {
      @apply lg:max-w-max lg:me-auto;
    }
  }
}

@utility table-scrollable {
  @apply overflow-auto max-w-full text-nowrap;
}
