@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP', 'Noto Sans SC',
    'Segoe UI', sans-serif, system-ui;
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto Serif JP', 'Noto Serif SC',
    'Segoe UI', serif, system-ui;
  --font-ipa: 'Charis-Web', serif, system-ui;
}

@layer base {
  html {
    -webkit-tap-highlight-color: revert;
  }

  body {
    @apply bg-slate-50 dark:bg-slate-950;
  }

  #md-root {
    @apply flow-root
    prose prose-slate dark:prose-invert
    w-full max-w-7xl mx-auto px-4
    prose-a:hover:opacity-60 prose-a:transition-opacity;

    h1:where(#title) {
      @apply font-extralight text-center my-12;
    }

    :is(h2, h3, h4) {
      @apply font-normal;
    }

    :is(h5, h6) {
      @apply font-semibold;
    }

    img {
      @apply mx-auto;
    }

    table {
      @apply lg:max-w-max lg:me-auto;

      :where(:is(thead, tbody tr)) {
        @apply border-b-0;
      }

      :where(tr :is(td, th):not(:last-child)) {
        @apply border-e border-slate-300;
      }

      :where(td, th) {
        @apply text-base py-1.25;
      }
    }

    li > :where(p) {
      @apply my-3;
    }

    /* toc */
    :where(h2#table-of-contents) + ul {
      @apply bg-violet-50 dark:bg-violet-950 border border-slate-300 dark:border-slate-600 rounded pe-3;
    }

    tr:where(
      h5[id*='example']
        + :is(table, div.table-scrollable, div.table-auto-wrap)
        tbody
        > tr:first-child
    ) {
      @apply italic;
    }

    hr {
      @apply my-6;
    }

    :where(blockquote p:first-of-type) {
      &::before,
      &::after {
        content: none;
      }
    }
  }
}

@utility table-scrollable {
  @apply overflow-x-auto max-w-full;

  :where(td, th) {
    @apply text-nowrap;
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'text', 'all', 'inherit', 'initial');
}

@utility table-auto-wrap {
  :where(table) {
    @apply grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    :where(thead, tbody, tfoot) {
      @apply contents;
    }

    :where(td, th) {
      @apply block;
    }
  }
}
