@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', sans-serif, 'Segoe UI',
    system-ui;
  --font-serif: 'Charis-Web', 'Times New Roman', serif, 'Segoe UI', system-ui;
  --font-ipa: var(--font-serif);
  --color-violet-950-dull: oklch(
    from var(--color-violet-950) l calc(c - 0.08) h
  );
  --color-violet-950-dulldull: oklch(from var(--color-violet-950) 10% 0.05 h);
  --color-violet-900-dull: oklch(
    from var(--color-violet-900) l calc(c - 0.06) h
  );
  --color-violet-800-dull: oklch(
    from var(--color-violet-800) l calc(c - 0.06) h
  );
  --color-bg: #fff;
  --color-d-bg: var(--color-violet-950-dulldull);
  --color-side: var(--color-violet-50);
  --color-d-side: var(--color-violet-950-dull);
  --color-accent-s: var(--color-violet-100);
  --color-accent-e: var(--color-violet-200);
  --color-d-accent-s: var(--color-violet-800-dull);
  --color-d-accent-e: var(--color-violet-900-dull);
  --color-accent-2-s: var(--color-violet-50);
  --color-accent-2-e: var(--color-violet-100);
  --color-d-accent-2-s: var(--color-violet-900-dull);
  --color-d-accent-2-e: var(--color-violet-950-dull);
  --color-border: var(--color-slate-400);
  --color-d-border: var(--color-slate-500);
  --color-border2: var(--color-slate-600);
  --color-d-border2: var(--color-slate-300);
  --color-text: #000;
  --color-d-text: #fff;
  --color-text-inv: #fff;
  --color-d-text-inv: #000;
  --color-heading: var(--color-violet-950);
  --color-d-heading: var(--color-violet-50);
  --color-sidemenu-bg: var(--color-violet-950-dull);
  --color-d-sidemenu-bg: var(--color-violet-400);
  --color-sidemenu-text: #fff;
  --color-d-sidemenu-text: #000;

  --grad-accent: linear-gradient(
    to bottom in oklch,
    var(--color-accent-s),
    var(--color-accent-e)
  );
  --grad-d-accent: linear-gradient(
    to bottom in oklch,
    var(--color-d-accent-s),
    var(--color-d-accent-e)
  );
  --grad-accent-2: linear-gradient(
    to bottom in oklch,
    var(--color-accent-2-s),
    var(--color-accent-2-e)
  );
  --grad-d-accent-2: linear-gradient(
    to bottom in oklch,
    var(--color-d-accent-2-s),
    var(--color-d-accent-2-e)
  );

  --default-transition-duration: 110ms;

  --s-paragraph: 0.75rem;
  --s-heading: 2.5rem;
  --s-header: 3rem;
  --s-footer: 3rem;
  --s-figure: 2rem;

  --cols-main: minmax(min(18rem, 50%), 1fr) minmax(0, 80rem)
    minmax(min(18rem, 50%), 1fr);
  --cols-glossary: minmax(min(18rem, 100%), 1fr) minmax(0, 98rem);

  --tf-ease-in: cubic-bezier(0.5, 0, 1, 0.5);
  --tf-ease-out: cubic-bezier(0, 0.5, 0.5, 1);
}

@utility cbg-* {
  background-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    background-color: --value(--color-d- *);
  }
}

@utility gbg-* {
  background-image: --value(--grad-*);
  @media (prefers-color-scheme: dark) {
    background-image: --value(--grad-d- *);
  }
}

@utility ctext-* {
  color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    color: --value(--color-d- *);
  }
}

@utility cborder-* {
  border-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    border-color: --value(--color-d- *);
  }
}

@custom-variant any-hover {
  &:hover {
    @media (any-hover: hover) {
      @slot;
    }
  }
}

@layer base {
  :is(html, :host) {
    -webkit-tap-highlight-color: revert;
    @apply wrap-anywhere hyphens-auto max-sm:text-sm font-sans;
    line-break: strict;
  }

  body {
    @apply cbg-side flow-root ctext-text;
  }

  a {
    @apply underline any-hover:opacity-60 transition-opacity;
  }

  button {
    @apply cursor-pointer;
  }

  input[type='text'] {
    @apply font-mono border cborder-border rounded px-1;
  }

  h1:where(#title) {
    @apply font-extralight text-4xl px-4 my-10 text-balance;
  }

  :is(h2, h3, h4) {
    @apply ctext-heading font-normal;
  }

  h2 {
    @apply text-3xl border-b cborder-border ps-1 pb-1.5 text-balance;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  :is(h5, h6) {
    @apply font-semibold text-base;
  }

  :is(p, ul, ol, pre, blockquote) {
    @apply mt-(--s-paragraph);
  }

  :is(h2, h3, h4, h5, h6) {
    @apply mt-(--s-heading) scroll-mt-[calc(var(--s-header)+.5rem)];
  }

  img {
    @apply mx-auto w-full max-w-max my-(--s-figure);
  }

  :is(b, strong) {
    @apply font-semibold;
  }

  table {
    @apply w-max max-w-full me-auto;

    :where(thead > tr:last-child) {
      @apply border-b cborder-border2;
    }

    :where(tr:not(:last-child)) {
      @apply border-b cborder-border;
    }

    :where(td, th) {
      @apply text-base py-1.25 px-2.25;
    }

    :where(th) {
      @apply font-semibold;
    }
  }

  .table-container:where(:has(> table)) {
    @apply max-w-full overflow-x-auto my-(--s-figure);
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  :is(ul, ol) {
    @apply ps-7;
  }

  li > :where(p, ul, ol) {
    @apply mt-0;
  }

  li > :where(ul, ol) {
    @apply ps-4;
  }

  hr {
    @apply my-4 cborder-border mx-auto w-full max-w-240;
  }

  :where(blockquote p:first-of-type) {
    &::before,
    &::after {
      content: none;
    }
  }

  .jbomupli {
    @apply flex flex-wrap my-8 gap-y-8 px-0.5 py-1.5 
      gbg-accent-2 border cborder-border rounded;

    > div {
      @apply flex flex-col gap-1 min-w-0 border-e cborder-border flex-[0_1_max-content];

      > p {
        @apply min-w-0 min-h-7 m-0 px-3;
      }

      > :lang(jbo) {
        @apply italic;
      }
    }
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'text', 'all', 'inherit', 'initial');
}

@utility grid-cols-auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    min(calc(var(--spacing) * --value(integer)), 100%),
    1fr
  );
}

@utility grid-cols-auto-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    min(calc(var(--spacing) * --value(integer)), 100%),
    1fr
  );
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility grid-cols-max-* {
  grid-template-columns: repeat(--value(integer), max-content);
}
