@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', sans-serif, 'Segoe UI',
    system-ui;
  --font-serif: 'Charis-Web', 'Times New Roman', serif, 'Segoe UI', system-ui;
  --font-ipa: var(--font-serif);

  --default-font-feature-settings:
    'case', 'cv01', 'cv05', 'cv08', 'cv10', 'cv07', 'ss03';

  --feature-tnum: var(--default-font-feature-settings), 'tnum';

  --color-violet-950-grayish: oklch(
    from var(--color-violet-950) l calc(c * 0.6) h
  );
  --color-violet-950-darker: oklch(from var(--color-violet-950) 10% 0.05 h);
  --color-violet-900-grayish: oklch(
    from var(--color-violet-900) l calc(c * 0.6) h
  );
  --color-violet-800-grayish: oklch(
    from var(--color-violet-800) l calc(c * 0.6) h
  );

  --color-bg: #fff;
  --color-d-bg: var(--color-violet-950-darker);
  --color-side: var(--color-violet-50);
  --color-d-side: var(--color-violet-950-grayish);
  --color-accent: var(--color-violet-950-grayish);
  --color-d-accent: var(--color-violet-50);
  --color-accent-hover: color-mix(in oklch, var(--color-accent) 80%, #fff);
  --color-d-accent-hover: color-mix(in oklch, var(--color-d-accent) 80%, #000);
  --color-border: hsl(0 0 0 / 25%);
  --color-border-darker: hsl(0 0 0 / 40%);
  --color-d-border: hsl(0 0 100 / 25%);
  --color-d-border-darker: hsl(0 0 100 / 40%);
  --color-text: #000;
  --color-d-text: #fff;
  --color-text-inv: #fff;
  --color-d-text-inv: #000;
  --color-link: var(--color-blue-700);
  --color-d-link: var(--color-sky-400);
  --color-link-disabled: hsl(0 0 0 / 60%);
  --color-d-link-disabled: hsl(0 0 100 / 60%);

  --grad-accent: linear-gradient(
    to bottom in oklch,
    var(--color-accent-s),
    var(--color-accent-e)
  );
  --grad-d-accent: linear-gradient(
    to bottom in oklch,
    var(--color-d-accent-s),
    var(--color-d-accent-e)
  );
  --grad-accent-2: linear-gradient(
    to bottom in oklch,
    var(--color-accent-2-s),
    var(--color-accent-2-e)
  );
  --grad-d-accent-2: linear-gradient(
    to bottom in oklch,
    var(--color-d-accent-2-s),
    var(--color-d-accent-2-e)
  );

  --grad-header: linear-gradient(
    in oklch,
    transparent,
    oklch(from var(--color-violet-700) l c h / 10%)
  );
  --grad-d-header: linear-gradient(
    in oklch,
    oklch(from var(--color-violet-400) l c h / 40%),
    transparent
  );

  --default-transition-duration: 110ms;

  --spacing-paragraph: 0.75rem;
  --spacing-heading: 2.5rem;
  --spacing-figure: 2rem;
  --spacing-title: 2.5rem;
  --spacing-min-side: 16rem;
  --spacing-max-main: 80rem;
  --spacing-header: 3rem;

  --ease-in-1: cubic-bezier(0.5, 0, 1, 0.5);
  --ease-out-1: cubic-bezier(0, 0.5, 0.5, 1);
  --ease-in-out-1: cubic-bezier(0, 0.25, 0.1, 1);

  --z-drawer: 1000;
  --z-header: 100;
  --z-sidebar: 0;
}

@utility cbg-* {
  background-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    background-color: --value(--color-d- *);
  }
}

@utility gbg-* {
  background-image: --value(--grad-*);
  @media (prefers-color-scheme: dark) {
    background-image: --value(--grad-d- *);
  }
}

@utility ctext-* {
  color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    color: --value(--color-d- *);
  }
}

@utility cborder-* {
  border-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    border-color: --value(--color-d- *);
  }
}

@custom-variant any-hover {
  &:hover {
    @media (any-hover: hover) {
      @slot;
    }
  }
}

@utility font-feat-* {
  font-feature-settings: --value(--feature-*, [*]);
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'text', 'all', 'inherit', 'initial');
}

@utility cols-auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    min(calc(var(--spacing) * --value(integer)), 100%),
    1fr
  );
}

@utility cols-auto-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    min(calc(var(--spacing) * --value(integer)), 100%),
    1fr
  );
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility grid-cols-max-* {
  grid-template-columns: repeat(--value(integer), max-content);
}

@utility allow-discrete {
  @supports (transition-behavior: allow-discrete) {
    transition-behavior: allow-discrete;
  }
}

@layer base {
  :root {
    -webkit-tap-highlight-color: revert;
    @apply wrap-anywhere hyphens-auto max-sm:text-sm font-sans;
    line-break: strict;
  }

  body {
    @apply cbg-side ctext-text;
  }

  a:where(:any-link) {
    @apply any-hover:underline ctext-link;
  }

  a[aria-disabled='true'] {
    @apply ctext-link-disabled;
  }

  button {
    @apply cursor-pointer;
  }

  input[type='text'],
  textarea {
    @apply font-mono border cborder-border rounded px-1;
  }

  h1:where(#title) {
    @apply font-extralight text-4xl px-4 my-title text-balance;
  }

  h2,
  h3,
  h4 {
    @apply ctext-accent font-normal;
  }

  h2 {
    @apply text-3xl border-b cborder-border ps-1 pb-1.5 text-balance font-feat-tnum;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply text-base;
  }

  p,
  ul,
  ol,
  pre,
  blockquote {
    @apply mt-paragraph;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-heading scroll-mt-[calc(var(--spacing-header)+.5rem)];
  }

  h5,
  h6,
  b,
  strong,
  th {
    @apply font-semibold;
  }

  .table-container:where(:has(> table)),
  img {
    @apply my-heading;
  }

  img {
    @apply mx-auto w-full max-w-max my-figure;
  }

  b,
  strong,
  th {
    @apply font-semibold;
  }

  table {
    @apply w-max max-w-full me-auto whitespace-nowrap;

    :where(thead > tr:last-child) {
      @apply border-b-3 border-double cborder-border-darker;
    }

    :where(tr:not(:last-child)) {
      @apply border-b cborder-border;
    }

    :where(td, th) {
      @apply text-base py-1 px-2;
    }
  }

  .table-container:where(:has(> table)) {
    @apply max-w-full overflow-x-auto;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul,
  ol {
    @apply ps-7;
  }

  li > :is(p, ul, ol) {
    @apply mt-0;
  }

  li > :is(ul, ol) {
    @apply ps-4;
  }

  hr {
    @apply my-paragraph cborder-border mx-auto w-full max-w-240;
  }

  :where(blockquote p:first-of-type) {
    &::before,
    &::after {
      content: none;
    }
  }

  .jbomupli {
    @apply flex flex-wrap my-figure gap-y-8 px-0.5 py-1.5 
      cbg-side border cborder-border rounded;

    > div {
      @apply flex flex-col gap-1 min-w-0 border-e cborder-border flex-[0_1_max-content];

      > p {
        @apply min-w-0 min-h-lh m-0 px-3;
      }

      > :lang(jbo) {
        @apply italic;
      }
    }
  }
}
