---
import Head from '../layouts/Head.astro';
import Toc, { type H2Content } from '../components/Toc.astro';
import JboLogo from '../assets/JboLogo.svg';
import ToTopBtn from '../components/ToTopBtn.astro';
import data from '../modules/data.json';
import MyFooter from '../components/MyFooter.astro';

const mds = data.slice(1).map((d): H2Content => {
  return {
    text: d.longTitle ?? d.title,
    url: d.url,
    h3: [],
  };
});

const { title, url } = data.at(0)!;
---

<Head {title} {url}>
  <main>
    <h1 id='title'>
      The <span class='text-red-600'>C</span>omplete
      <span class='text-blue-600'>L</span>ojban
      <span class='text-red-600'>L</span>anguage Viewer
    </h1>
    <JboLogo class='max-w-95 w-full mx-auto my-6 [&_#path-1]:fill-[#00f] [&_#path-2]:fill-[#f00]' />
    <Toc contents={mds} />
  </main>
  <MyFooter />
  <ToTopBtn />
</Head>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer properties, theme, base, components, utilities;
  @layer components {
    main {
      @apply flow-root cbg-bg w-full max-w-7xl mx-auto px-4 lg:px-6 pb-4;
    }

    #title {
      @apply text-center;
    }
  }
</style>
