---
import Head from '../layouts/Head.astro';
import Toc, { type H2Content } from '../components/Toc.astro';
import JboLogo from '../assets/JboLogo.svg';
import ToTopBtn from '../components/ToTopBtn.astro';
import data from '../modules/data.json';
import MyFooter from '../layouts/MyFooter.astro';

const mds = data.slice(1).map((d): H2Content => {
  return {
    text: d.longTitle ?? d.title,
    url: d.url,
    h3: [],
  };
});

const { title, url } = data[0];
---

<!doctype html>
<html lang='en'>
  <Head {title} {url} />
  <body>
    <main>
      <h1 id='title'>
        The <span class='text-[#f00]'>C</span>omplete
        <span class='text-[#00f]'>L</span>ojban
        <span class='text-[#f00]'>L</span>anguage Viewer
      </h1>
      <JboLogo
        class='max-w-95 w-full mx-auto my-figure [&_#path-1]:fill-[#00f] [&_#path-2]:fill-[#f00]'
      />
      <Toc contents={mds} />
    </main>
    <footer>
      <MyFooter />
    </footer>
    <ToTopBtn />
  </body>
</html>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer properties, theme, base, components, utilities;
  @layer components {
    main {
      @apply flow-root cbg-bg w-full max-w-7xl mx-auto px-4 lg:px-6 pb-8;
    }

    #title {
      @apply text-center;
    }

    footer {
      @apply flex flex-col items-center *:min-w-0 h-max px-2 py-1;
    }
  }
</style>
