---
import type { MarkdownHeading } from 'astro';
import Head from '../layouts/Head.astro';
import LinkExt from '../components/LinkExt.astro';
import Toc, { type H2Content } from '../components/Toc.astro';
import JboLogo from '../assets/jbo_logo.svg';
import ToTopBtn from '../components/ToTopBtn.astro';

interface MdProps {
  readonly frontmatter: {
    readonly title: string;
    readonly description?: string;
  };
  readonly url: string;
  readonly getHeadings: () => MarkdownHeading[];
}

const mds_ = Object.values(
  import.meta.glob<MdProps>('./*.md', { eager: true }),
);

const mds = mds_.map(({ frontmatter, url }): H2Content => {
  const text = frontmatter.title;
  return {
    text,
    url,
    h3: [],
  };
});

const title = `The Complete Lojban Language`;
const url = '/';
---

<Head {title} {url}>
  <main class='flow-root cbg-bg w-full max-w-7xl mx-auto px-4 lg:px-6'>
    <h1 id='title' class='text-center'>
      The <span class='text-red-600'>C</span>omplete
      <span class='text-blue-600'>L</span>ojban
      <span class='text-red-600'>L</span>anguage
    </h1>
    <JboLogo class='max-w-95 w-full mx-auto my-6' />
    <Toc contents={mds} />
  </main>
  <footer>
    <LinkExt class='no-underline' href='https://github.com/tktb-tess/cll-site'>
      Go to Repository
    </LinkExt>
  </footer>
  <ToTopBtn />
</Head>
