---
import Sidemenu from './Sidemenu.astro';
interface Props {
  readonly url: string;
}
const { url } = Astro.props;
---

<dialog id='drawer' aria-labelledby='drawer-title' closedby='any'>
  <div class='btn-wrapper'>
    <button
      id='drawer-close-btn'
      type='button'
      title='Close sidemenu'
      autofocus
    >
    </button>
  </div>

  <h2 id='drawer-title'>Menu</h2>
  <Sidemenu currentUrl={url} />
</dialog>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    #drawer {
      @apply w-min-side me-auto cbg-side p-2 gap-2 flex-col *:my-0;
      scrollbar-width: thin;
      scrollbar-gutter: stable;

      &, &::backdrop {
        @apply inset-0 transition-[background-color,translate,display,overlay] allow-discrete duration-300;
      }

      &:not([open]) {
        @apply -translate-x-full;
      }

      &[open] {
        @apply flex translate-x-0 starting:-translate-x-full;
      }

      &:not([open])::backdrop {
        @apply bg-transparent;
      }

      &[open]::backdrop {
        @apply bg-black/70 starting:bg-transparent;
      }
    }

    #drawer-title {
      @apply pb-0 ps-2 ms-1 text-3xl border-b-0 border-l-2 leading-none;
    }

    .btn-wrapper {
      @apply flex justify-end;
    }

    #drawer-close-btn {
      @apply grid place-items-center size-9 transition-colors
      hover-focus:cbg-accent hover-focus:ctext-text-inv rounded leading-none;

      &::before, &::after {
        content: '';
        @apply col-span-full row-span-full w-5 border-b border-current;
      }

      &::before {
        @apply rotate-45;
      }

      &::after {
        @apply -rotate-45;
      }
    }
  }
</style>

<script>
  const drawerOpenBtn = document.getElementById('drawer-open-btn');
  const drawerCloseBtn = document.getElementById('drawer-close-btn');
  const drawer = document.getElementById('drawer');

  const cond =
    drawerOpenBtn instanceof HTMLButtonElement &&
    drawerCloseBtn instanceof HTMLButtonElement &&
    drawer instanceof HTMLDialogElement;

  if (!cond) {
    throw Error('Failed to get element', {
      cause: {
        drawerOpenBtn,
        drawerCloseBtn,
        drawer,
      },
    });
  }

  drawerOpenBtn.addEventListener(
    'click',
    (ev) => {
      ev.preventDefault();
      drawer.showModal();
    },
    false,
  );

  drawerCloseBtn.addEventListener(
    'click',
    (ev) => {
      ev.preventDefault();
      drawer.close();
    },
    false,
  );
</script>
