---
import ListIcon from '../assets/ListIcon.svg';
import CloseIcon from '../assets/CloseIcon.svg';
import Sidemenu from './Sidemenu.astro';
interface Props {
  readonly url: string;
}
const { url } = Astro.props;
---

<div id='drawer-backdrop'>
  <aside id='drawer'>
    <button id='drawer-close-btn' type='button' title='Close sidemenu'>
      <CloseIcon class='inline-block size-6' />
    </button>
    <Sidemenu currentUrl={url} />
  </aside>
</div>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    #drawer-backdrop {
      @apply fixed z-(--z-drawer) invisible inset-0 bg-transparent
      transition-[background-color,visibility] allow-discrete ease-in-out-1 duration-200;

      &[data-drawer-open] {
        @apply visible bg-black/40;
      }
    }

    #drawer {
      @apply fixed inset-0 w-64 me-auto -translate-x-full
      cbg-side overflow-x-auto px-2 py-2 transition-transform duration-200
      ease-in-out-1;

      :where([data-drawer-open]) > & {
        @apply translate-x-0;
      }
    }

    #drawer-close-btn {
      @apply block ms-auto p-2 transition-colors
      any-hover:cbg-accent any-hover:ctext-text-inv rounded-lg;
    }

    :global(:where(html, body):has([data-drawer-open])) {
      @apply overflow-y-clip;
    }
  }
</style>

<script>
  const drawerBackdrop = document.getElementById('drawer-backdrop');
  const drawerBtn = document.getElementById('drawer-btn');
  const drawerCloseBtn = document.getElementById('drawer-close-btn');

  if (
    !(
      drawerBackdrop instanceof HTMLDivElement &&
      drawerBtn instanceof HTMLButtonElement &&
      drawerCloseBtn instanceof HTMLButtonElement
    )
  ) {
    throw Error('!');
  }

  drawerBtn.addEventListener('click', () => {
    drawerBackdrop.dataset.drawerOpen = '';

    setTimeout(() => {
      drawerCloseBtn.focus();
    }, 200);
  });

  drawerBackdrop.addEventListener('click', (ev) => {
    if (ev.target !== ev.currentTarget) return;
    delete drawerBackdrop.dataset.drawerOpen;
  });

  drawerCloseBtn.addEventListener('click', () => {
    delete drawerBackdrop.dataset.drawerOpen;
  });
</script>
