---
import CloseIcon from '../assets/CloseIcon.svg';
import Sidemenu from './Sidemenu.astro';
interface Props {
  readonly url: string;
}
const { url } = Astro.props;
---

<div id='drawer-backdrop'>
  <aside aria-labelledby='drawer-title' id='drawer'>
    <button id='drawer-close-btn' type='button' title='Close sidemenu'>
      <CloseIcon class='inline-block size-6' />
    </button>
    <h2 id='drawer-title'>Menu</h2>
    <Sidemenu currentUrl={url} />
  </aside>
</div>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    #drawer-backdrop {
      @apply fixed z-(--z-drawer) invisible inset-0 bg-transparent
      transition-[background-color,visibility] allow-discrete
      ease-in-out-1 duration-300;

      &[data-drawer-open] {
        @apply visible bg-black/40;
      }
    }

    #drawer {
      @apply absolute inset-0 w-min-side me-auto -translate-x-full
      cbg-side overflow-x-auto px-2 py-2 transition-transform duration-300
      ease-in-out-1 overscroll-contain;
      scrollbar-width: thin;

      [data-drawer-open] > & {
        @apply translate-x-0;
      }
    }

    #drawer-title {
      @apply m-0 text-3xl border-b-0 border-l-2;
    }

    #drawer-close-btn {
      @apply block ms-auto p-2 transition-colors
      any-hover:cbg-accent any-hover:ctext-text-inv rounded;
    }

    :global(:where(html, body):has([data-drawer-open])) {
      @apply overflow-y-clip;
    }
  }
</style>

<script>
  const drawerBackdrop = document.getElementById('drawer-backdrop');
  const drawerOpenBtn = document.getElementById('drawer-open-btn');
  const drawerCloseBtn = document.getElementById('drawer-close-btn');
  const drawer = document.getElementById('drawer');

  const waitAnimationEnd = async (elem: HTMLElement) => {
    const anims = elem.getAnimations();
    if (anims.length === 0) return;
    await Promise.allSettled(anims.map((a) => a.finished));
  };

  if (
    !(
      drawerBackdrop instanceof HTMLDivElement &&
      drawerOpenBtn instanceof HTMLButtonElement &&
      drawerCloseBtn instanceof HTMLButtonElement &&
      drawer instanceof HTMLElement
    )
  ) {
    throw Error('Failed to get element', {
      cause: {
        drawerBackdrop,
        drawerOpenBtn,
        drawerCloseBtn,
        drawer,
      },
    });
  }

  drawerOpenBtn.addEventListener('click', async (ev) => {
    ev.preventDefault();
    drawerBackdrop.dataset.drawerOpen = '';

    const animations = drawer.getAnimations();
    if (animations.length === 0) return;

    await waitAnimationEnd(drawer);

    requestAnimationFrame(() => {
      drawerCloseBtn.focus();
    });
  });

  drawerBackdrop.addEventListener('click', async (ev) => {
    ev.preventDefault();
    if (ev.target !== ev.currentTarget) return;
    delete drawerBackdrop.dataset.drawerOpen;
    await waitAnimationEnd(drawer);
    requestAnimationFrame(() => {
      drawerOpenBtn.focus();
    });
  });

  drawerCloseBtn.addEventListener('click', async (ev) => {
    ev.preventDefault();
    delete drawerBackdrop.dataset.drawerOpen;
    await waitAnimationEnd(drawer);
    requestAnimationFrame(() => {
      drawerOpenBtn.focus();
    });
  });
</script>
