---
import data from '../modules/data.json';

interface Props {
  readonly currentUrl: string;
  readonly class?: string;
}

const lis = data.map(({ title, longTitle, url }, i) => {
  const cond = i === 0;
  return {
    title: cond ? 'Home' : title,
    url: url,
    long: cond ? 'Home' : (longTitle ?? title),
  };
});

const { currentUrl, class: className } = Astro.props;
---

<ul class={className}>
  {
    lis.map((p) => {
      const isCurrent = p.url === currentUrl;
      return (
        <li>
          <a href={p.url} aria-current={isCurrent || null} title={p.long}>
            {p.title}
          </a>
        </li>
      );
    })
  }
</ul>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    ul {
      @apply list-none ps-0 flex flex-col mt-0;
    }
    
    a {
      @apply block no-underline opacity-100 ctext-text
      any-hover:cbg-accent any-hover:ctext-text-inv px-3 py-1.5 transition-colors rounded;

      &[aria-current="true"] {
        @apply cbg-accent ctext-text-inv;
      }
    }
  }
</style>
