---
interface Props {}
---

<button id='to-top-btn' type='button' title='Scroll to top'>
  <div class='__arrow'></div>
</button>

<script>
  const btn = document.getElementById(`to-top-btn`);

  if (!(btn instanceof HTMLButtonElement)) {
    throw TypeError('!');
  }

  btn.addEventListener('click', () => {
    window.scroll({ top: 0, behavior: 'smooth' });
  });

  window.addEventListener('scroll', () => {
    const vis = window.scrollY > 600 ? '' : undefined;
    if (btn.dataset.visible !== vis) {
      if (vis === '') {
        btn.dataset.visible = '';
      } else {
        delete btn.dataset.visible;
      }
    }
  });
</script>

<style lang="postcss">
  @reference '../styles/globals.css';
  
  #to-top-btn {
    @apply hidden fixed right-5 bottom-5
    place-content-center p-0.5 rounded size-10
    cbg-accent opacity-0 any-hover:cbg-accent-hover
    transition-[background-color,opacity,display]
    allow-discrete duration-200;

    &[data-visible] {
      @apply grid opacity-100;

      @starting-style {
        @apply opacity-0;
      }
    }

    .__arrow {
      @apply size-2 border-l-2 border-t-2 cborder-text-inv;
      transform: translateY(calc(var(--spacing) * 0.6)) rotateZ(45deg);
    }
  }
</style>
