---
interface Props {
  readonly prev: readonly [string, string] | undefined;
  readonly next: readonly [string, string] | undefined;
}
const { prev, next } = Astro.props;
---

<p id='navigator-title'>The Complete Lojban Language</p>
<div id='navigator'>
  {
    prev && (
      <a href={prev[0]}>
        ← {prev[1]}
      </a>
    )
  }
  {
    next && (
      <a href={next[0]}>
        {next[1]} →
      </a>
    )
  }
</div>
<p><a href='/'>Table of Contents</a></p>
<p>
  <a href='https://mw.lojban.org/papri/The_Complete_Lojban_Language'>
    Book Info Page
  </a>
</p>

<style lang="postcss">
  @reference '../styles/globals.css';

  #navigator-title {
    @apply text-lg font-light;
  }

  #navigator {
    @apply flex max-lg:flex-col max-lg:items-center lg:flex-row lg:justify-center lg:gap-4;
  }

  p {
    @apply text-center;
  }
</style>
