---
import JboLogo from '../assets/JboLogo.svg';
import ListIcon from '../assets/ListIcon.svg';
interface Props {}
---

<nav class='header'>
  <button type='button' id='drawer-btn' title='Open sidemenu'>
    <ListIcon class='size-6 inline-block' />
  </button>
  <a class="__logo" href='/' title='Top Page'>
    <JboLogo class='block h-8' />
    <span class='text-3xl font-extralight'>CLL</span>
  </a>
</nav>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    .header {
      @apply flex h-full items-center *:m-0 *:min-w-0 gap-2 px-6 cbg-side;
    }

    #drawer-btn {
      @apply grid lg:hidden h-full place-items-center px-1
      any-hover:cbg-accent any-hover:ctext-text-inv transition-colors;
    }

    .__logo {
      @apply flex gap-1 no-underline items-center h-full ctext-accent
      any-hover:cbg-accent any-hover:ctext-text-inv transition-colors ps-1 pe-2;
    }
  }
</style>
