---
import JboLogo from '../assets/JboLogo.svg';
import ListIcon from '../assets/ListIcon.svg';
interface Props {}
---

<nav class='header-nav'>
  <button type='button' id='drawer-open-btn' title='Open sidemenu'>
    <ListIcon class='inline-6 block-auto inline-block' />
  </button>
  <a class='__logo' href='/' title='To Home'>
    <JboLogo class='block block-8' />
    <span class='text-3xl font-extralight'>CLL</span>
  </a>
</nav>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    .header-nav {
      @apply flex block-full items-center *:m-0 *:min-inline-0 gap-2 px-6 bg-side;
    }

    #drawer-open-btn {
      @apply grid lg:hidden block-full place-items-center px-1
      hover-focus:bg-accent hover-focus:text-text-inv transition-colors;
    }

    .__logo {
      @apply flex gap-1 no-underline items-center block-full text-accent
      hover-focus:bg-accent hover-focus:text-text-inv transition-colors ps-1 pe-2;
    }
  }
</style>
