---
import JboLogo from '../assets/JboLogo.svg';
interface Props {}
---

<header>
  <nav>
    <a href='/' title='Top Page'>
      <JboLogo class='block h-8' />
      <span class='text-3xl font-extralight'>CLL</span>
    </a>
  </nav>
</header>

<style lang="postcss">
  @reference '../styles/globals.css';
  @layer components {
    header {
      @apply gbg-accent h-(--s-header) sticky top-0 z-100;

      > :where(nav) {
        @apply flex h-full items-center *:mb-0 *:min-w-0 px-8;

        > :where(a) {
          @apply flex gap-1 no-underline items-center h-full opacity-100
        hover:cbg-sidemenu-bg hover:ctext-sidemenu-text transition-colors ps-1 pe-2;
        }
      }
    }
  }
</style>
